# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/generated/resources/.cache/cache
/src/generated/resources/assets/deepwaters/blockstates/limestone.json
/src/generated/resources/assets/deepwaters/models/block/limestone.json
/src/generated/resources/assets/deepwaters/models/item/limestone.json
/src/generated/resources/assets/deepwaters/blockstates/magmatic_rock.json
/src/generated/resources/assets/deepwaters/models/block/magmatic_rock.json
/src/generated/resources/assets/deepwaters/models/item/magmatic_rock.json
/src/generated/resources/assets/deepwaters/blockstates/metallic_block_black.json
/src/generated/resources/assets/deepwaters/models/block/metallic_block_black.json
/src/generated/resources/assets/deepwaters/models/item/metallic_block_black.json
/src/generated/resources/assets/deepwaters/blockstates/metallic_block_cyan.json
/src/generated/resources/assets/deepwaters/models/block/metallic_block_cyan.json
/src/generated/resources/assets/deepwaters/models/item/metallic_block_cyan.json
/src/generated/resources/assets/deepwaters/blockstates/metallic_block_orange.json
/src/generated/resources/assets/deepwaters/models/block/metallic_block_orange.json
/src/generated/resources/assets/deepwaters/models/item/metallic_block_orange.json
/src/generated/resources/assets/deepwaters/blockstates/mossy_ocean_floor.json
/src/generated/resources/assets/deepwaters/models/item/mossy_ocean_floor.json
/src/generated/resources/assets/deepwaters/blockstates/ocean_floor.json
/src/generated/resources/assets/deepwaters/models/block/ocean_floor.json
/src/generated/resources/assets/deepwaters/models/item/ocean_floor.json
/src/generated/resources/assets/deepwaters/models/item/pearl.json
/src/generated/resources/assets/deepwaters/blockstates/pearl_block.json
/src/generated/resources/assets/deepwaters/models/block/pearl_block.json
/src/generated/resources/assets/deepwaters/models/item/pearl_block.json
/src/generated/resources/assets/deepwaters/models/item/pearl_wand.json
/src/generated/resources/assets/deepwaters/blockstates/prismarine_crystal_ore.json
/src/generated/resources/assets/deepwaters/models/block/prismarine_crystal_ore.json
/src/generated/resources/assets/deepwaters/models/item/prismarine_crystal_ore.json
/src/generated/resources/assets/deepwaters/models/item/salt_crystal.json
/src/generated/resources/assets/deepwaters/blockstates/salt_ore.json
/src/generated/resources/assets/deepwaters/models/block/salt_ore.json
/src/generated/resources/assets/deepwaters/models/item/salt_ore.json
/src/generated/resources/assets/deepwaters/models/item/sharktooth.json
/src/generated/resources/assets/deepwaters/blockstates/sunken_gravel.json
/src/generated/resources/assets/deepwaters/models/block/sunken_gravel.json
/src/generated/resources/assets/deepwaters/models/item/sunken_gravel.json
